# cust-dask-config.yaml

worker:
  env:
    - name: EXTRA_CONDA_PACKAGES
      value: pandas fastparquet numba xarray -c conda-forge
    - name: EXTRA_PIP_PACKAGES
      value: cython six gcsfs dask-ml --upgrade

# We want to keep the same packages on the worker and jupyter environments
jupyter:
  env:
    - name: EXTRA_CONDA_PACKAGES
      value: pandas fastparquet numba xarray matplotlib -c conda-forge
    - name: EXTRA_PIP_PACKAGES
      value: cython six gcsfs dask-ml --upgrade
